<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo3}"></title>
<link rel="stylesheet" th:href="@{css/pagina3.css}"></link>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
	crossorigin="anonymous">
</head>
<body>

	<header>
		<div class="titulo1">
			<img class="imagen-header" th:src="@{images/header-1.png}"
				alt="Logo">
			<h1>Furniture Market</h1>
		</div>
		<nav class="titulo2">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/about">Sobre Nosotros</a></li>
				<li><a href="/catalogo">Productos</a></li>
				<li><a href="/chatBot">Chatbot</a></li>
				<li><a href="/productos">Mantenimiento</a></li>
			</ul>
		</nav>
	</header>

	<section>


		<div class="mueble">
			<img th:src="@{images/pagina3-mueble1.png}" alt="Mueble1">
			<div class="descripcion">

				<div class="texto">

					<h2>Sofá Rafaella Tela</h2>
					<span>Sofá de inspiración nórdica, atractivas y altas patas
						de madera de abedul</span>
				</div>

				<div class="precio">
					<h3>S/.1,950</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>


		<div class="mueble">
			<img th:src="@{images/pagina3-mueble2.png}" alt="Mueble2">
			<div class="descripcion">

				<div class="texto">

					<h2>Bergere Lass Tela</h2>
					<span>Sillón reclinable con base giratoria,posee sistema de
						reclinación con 3 posiciones</span>
				</div>

				<div class="precio">
					<h3>S/.1,850</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>

		<div class="mueble">
			<img th:src="@{images/pagina3-mueble3.png}" alt="Mueble3">
			<div class="descripcion">

				<div class="texto">

					<h2>Mesa Lateral Amy</h2>
					<span>Esta mesa de alto valor ornamental, cuenta con un
						pedestal de madera en Nogal</span>
				</div>

				<div class="precio">
					<h3>S/.1,000</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>

		<div class="mueble">
			<img th:src="@{images/pagina3-mueble4.png}" alt="Mueble4">
			<div class="descripcion">

				<div class="texto">

					<h2>Poltrona Seneca Tela</h2>
					<span>Poltrona elegante que destaca por su tapiz bouclé, que
						simula ser lana</span>
				</div>

				<div class="precio">
					<h3>S/.2,250</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>

		<div class="mueble">
			<img th:src="@{images/pagina3-mueble5.png}" alt="Mueble5">
			<div class="descripcion">

				<div class="texto">

					<h2>Banqueta Martin Tela</h2>
					<span>Tradicional banqueta tapizada en tela..Modelo dirigido
						a un público conservador simple</span>
				</div>

				<div class="precio">
					<h3>S/.1,269</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>

		<div class="mueble">
			<img th:src="@{images/pagina3-mueble6.png}" alt="Mueble6">
			<div class="descripcion">

				<div class="texto">

					<h2>Poltrona Bigli Tela</h2>
					<span>Poltrona con un marcado estilo moderno y sofisticado
						gracias a sus líneas simples</span>
				</div>

				<div class="precio">
					<h3>S/.2,799</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>


		<div class="mueble">
			<img th:src="@{images/pagina3-mueble7.png}" alt="Mueble7">
			<div class="descripcion">

				<div class="texto">

					<h2>Poltrona Enmore Tela</h2>
					<span>Poltrona moderna tapizada en terciopelo de estilo
						nórdico y curvas minimal</span>
				</div>

				<div class="precio">
					<h3>S/.1,900</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>



		<div class="mueble">
			<img th:src="@{images/pagina3-mueble8.png}" alt="Mueble8">
			<div class="descripcion">

				<div class="texto">

					<h2>Estante Sions Elmora</h2>
					<span>Moderno estante con cinco repisas protegidas con
						vidrio templado </span>
				</div>

				<div class="precio">
					<h3>S/.2,600</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>


		</div>


		<div class="mueble">
			<img th:src="@{images/pagina3-mueble9.png}" alt="Mueble9">
			<div class="descripcion">

				<div class="texto">

					<h2>Mesa de Centro Kanus</h2>
					<span>Mesa de centro que destaca por su atractivo y
						sofisticado diseño de líneas curvas y redondeadas </span>
				</div>

				<div class="precio">
					<h3>S/. 2,199</h3>
				</div>

			</div>

			<button>Añadir a carrito</button>

		</div>


	</section>

	<footer>
		<div class="footer1">
			<div class="footer-primera">
				<img th:src="@{images/header-1.png}" alt="Logo">
				<h1 class="footer-titulo">Furniture Market</h1>
			</div>
			<span>Empresa dedicada a la venta de muebles de la más alta
				calidad e innovación.</span>
			<div class="iconos">
				<a href="https://www.facebook.com/" class="icon"><i class="fab fa-facebook"></i></a> <a
					href="https://www.instagram.com/" class="icon"><i class="fab fa-instagram"></i></a> <a
					href="https://www.youtube.com/" class="icon"><i class="fab fa-youtube"></i></a>
			</div>
		</div>

		<div class="footer2">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/about">Sobre Nosotros</a></li>
				<li><a href="/catalogo">Productos</a></li>
				<li><a href="/chatBot">Chatbot</a></li>
				<li><a href="/productos">Mantenimiento</a></li>
			</ul>
		</div>

		<div class="footer3">
			<h4>Contacto</h4>
			<div class="contacto-iconos">
				<div class="fila-footer3">
					<i class="fas fa-phone"></i> <span>+51 998765434</span>
				</div>
				<div class="fila-footer3">
					<i class="fas fa-envelope"></i> <span>furniture@gmail.com</span>
				</div>
				<div class="fila-footer3">
					<i class="fas fa-map-marker-alt"></i> <span>Av. San
						Francisco 23</span>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>